-i https://pypi.org/simple
alembic
click
cloudinary
flask
flask-admin==2.0.0
flask-cors
flask-jwt-extended==4.6.0
flask-migrate
flask-sqlalchemy
flask-swagger
gunicorn
psycopg2-binary
python-dotenv
pyyaml
sqlalchemy
typing-extensions
wtforms==3.1.2
